<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mastermind</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Bienvenue sur Mastermind</h1>
    
    <p>Full auto</p>
    <ul>
        {% for codebreakernumber in range(3) %}
            {% for codemakernumber in range(3) %}
                <li>
                    <a href="{{ url_for('main.game', mode = codebreakernumber, codemaker = codemakernumber) }}">
                        Auto mode: codemaker {{ codemakernumber }} vs codebreaker {{ codebreakernumber }}
                    </a>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>

    <p>Human vs auto modes</p>
    <ul>
        {% for codemakernumber in range(3) %}
            <li>
                <a href="{{ url_for('main.game', mode='human', codemaker = codemakernumber, reset='true') }}">
                    Play in human mode against auto codemaker {{ codemakernumber }}
                </a>
            </li>
        {% endfor %}
        {% for codebreakernumber in range(3) %}
            <li>
                <a href="{{ url_for('main.human_codemaker', mode='auto', codebreaker = codebreakernumber) }}">
                    Play as human codemaker against codebreaker {{ codebreakernumber }}
                </a>
            </li>
        {% endfor %}
    </ul>
    
    <p>Full human mode</p>
    <p><a href="{{ url_for('main.human_codemaker', mode='human') }}">Play full human mode</a></p>
    
    <div class="images">
        <p></p>
    </div>
</body>
</html>
